@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200&display=swap');

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
  }

  body, html{
    font-family: "Poppins", sans-serif;
    background: var(--body-bg-color);
   overflow-y: hidden;
  }

  .container{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }

  .container .container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 1px solid #BB99DD;
    border-radius: 20px;
    padding: 30px;
    background-color:  #fafafaa6;
  }


  .container2 .avatar {
    width: 213px;
    height: 213px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--purple);
    border-radius: 50%;
  }

 .container2 .avatar img{
    width: 206px;
    height: 206px;
    border-radius: 50%;
   
  }

  .container2 .insta-user{
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .container2 .links-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
    
  }

  .links-container a{
    border:1px solid #BB99DD;
    padding: 12px 120px;
    border-radius: 40px;
    margin-bottom: 10px;
  }

  .links-container a:hover {
    background-color: #BB99DD;
    color: #fefefe;
    transition: all .5s ease-out;
    cursor: pointer;
    
}

